SERVER_PORT=8080
DB_URL=jdbc:postgresql://localhost:5432/edupulse_db
DB_USERNAME=userdb_edupulse
DB_PASSWORD=change-me
SHOW_SQL=false
CORS_ALLOWED_ORIGINS=http://localhost:5173
JWT_SECRET=replace-with-a-long-random-secret-key-for-jwt
JWT_EXPIRATION_MS=86400000